<!DOCTYPE html>
<html lang="en-us">
<style>
body{
    background-color:lightblue;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
</style>
<head>
  <meta charset = "utf-8">
</head>
<body>
<h1>台科餐廳</h1>
<br>
<h1>日和</h1>
</br>
<table style="width:100%">
  <tr>
    <th>菜名</th>
    <th>價格</th> 
    <th>辣不辣</th>
    <th>註解</th>
  </tr>
  <tr>
    <td>燒肉飯</td>
    <td>65</td>
    <td>自行添加</td>
    <td>有小碗55元</td>
  </tr>
  <tr>
    <td>紐澳良雞腿飯</td>
    <td>69</td>
    <td>自行添加</td>
    <td>聽說是隱藏菜色</td>
  </tr>
  <tr>
    <td>和風脆雞</td>
    <td>69</td>
    <td>自行添加</td>
    <td>我最喜歡的哈哈</td>
  </tr>
  <tr>
      <td>牛肉飯</td>
      <td>69</td>
      <td>自行添加</td>
      <td>無</td>
</table>
<h1>八方雲集</h1>
<table style="width:100%">
  <tr>
    <th>菜名</th>
    <th>價格</th> 
    <th>辣不辣</th>
    <th>註解</th>
  </tr>
  <tr>
    <td>鍋貼</td>
    <td>一顆4元</td>
    <td>自行添加</td>
    <td>無</td>
  </tr>
  <tr>
    <td>水餃</td>
    <td>一顆5元</td>
    <td>自行添加</td>
    <td>無</td>
  </tr>
  <tr>
    <td>玉米濃湯</td>
    <td>25</td>
    <td>自行添加</td>
    <td>無</td>
  </tr>
  <tr>
      <td>魚丸湯</td>
      <td>25</td>
      <td>自行添加</td>
      <td>無</td>
</table>
<h1>巖茶</h1>
<table style="width:100%">
  <tr>
    <th>茶名</th>
    <th>價格</th> 
    <th>甜不甜</th>
    <th>註解</th>
  </tr>
  <tr>
    <td>紅茶</td>
    <td>20</td>
    <td>可向店員反應</td>
    <td>無</td>
  </tr>
  <tr>
    <td>仙草茶</td>
    <td>25</td>
    <td>可向店員反應</td>
    <td>有人說無糖很好喝</td>
  </tr>
  <tr>
    <td>珍奶</td>
    <td>35</td>
    <td>可向店員反應</td>
    <td>無</td>
  </tr>
  <tr>
      <td>綠茶</td>
      <td>20</td>
      <td>可向店員反應</td>
      <td>無</td>
</table>
<h1>阿水</h1>
<table style="width:100%">
  <tr>
    <th>茶名</th>
    <th>價格</th> 
    <th>甜不甜</th>
    <th>註解</th>
  </tr>
  <tr>
    <td>特調</td>
    <td>100</td>
    <td>可向店員反應</td>
    <td>我同學很愛</td>
  </tr>
  <tr>
    <td>珍奶</td>
    <td>30</td>
    <td>可向店員反應</td>
    <td>無</td>
  </tr>
  <tr>
    <td>多多綠</td>
    <td>40</td>
    <td>可向店員反應</td>
    <td>限冷飲</td>
  </tr>
  <tr>
      <td>紅茶</td>
      <td>20</td>
      <td>可向店員反應</td>
      <td>無</td>
</table>
<h1>投出你覺得很棒的店吧XDDD</h1>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>